<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="jwt-decode.js"></script>
    <title>esempio anguraljs bootstrap</title>
</head>

<body ng-app="myApp">
    <div class="container" ng-controller="loginCtrl">
        <h4>Utente collegato: <span>{{ loggedusr }}</span></h4>

        <div id="divlogin" ng-hide="logged">
            <h2>FORM LOGIN</h2>
            <form name="flogin">
                <div class="form-group">
                    <label for="usr">Usr:</label>
                    <input ng-model="usr" type="text" class="form-control" id="usr" placeholder="Enter username"
                        name="usr" required>
                    <span ng-show="flogin.usr.$error.required">campo richiesto</span>
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input ng-model="pwd" required type="password" class="form-control" id="pwd"
                        placeholder="Enter password" name="pwd">
                    <span ng-show="flogin.pwd.$error.required">campo richiesto</span>
                </div>
                <input type="button" ng-disabled="flogin.usr.$dirty && flogin.usr.$invalid ||  
            flogin.pwd.$dirty && flogin.pwd.$invalid" ng-click="login()" class="btn btn-primary" value="Submit">
            </form>
        </div>
        <div id="divlogged" class="row" ng-show="logged">
            <div class="col-8">
                <h3>Elenco bookmarks</h3>
                <div class="table table-responsive table-bordered" >
                <table>
                    <tr>
                        <th>link</th>
                        <th>owner</th>
                        <th>description</th>
                        <th>url</th>
                    </tr>
                    <tr ng-repeat="bk in bkms">
                        <td><button ng-click="viewBkm('{{bk.link}}')" class="btn btn-outline-success">Dettagli</button></td>
                        <td>{{ bk.owner.email }}</td>
                        <td>{{ bk.description }}</td>
                        <td>{{ bk.url }}</td>
                    </tr>
                </table>
                <div id="divviewbkm">
                     <table class="table tabel-bordered table-dark">
                         <tr>
                             <td>Description</td><td>{{viewdescrption}}</td>
                             <td>Created</td><td>{{viewcreated}}</td>
                             <td>Author</td><td>{{viewauthor}}</td>
                             <td>Url</td><td>{{viewurl}}</td>
                             <td>Shared</td><td>{{viewshared}}</td>
                         </tr>
                     </table>

                </div>
            </div>
            <div class="col-4">
                <div id="divinsbkms">
                    <h3>Inserimento Bookmark</h3>
                    <form name="fbkm">
                        <div class="form-group">
                            <label for="description">Description:</label>
                            <input ng-model="description" type="text" class="form-control" id="description"
                                placeholder="Enter description" name="description" required>
                            <span ng-show="fbkm.description.$error.required">campo richiesto</span>
                        </div>
                        <div class="form-check">
                            <label for="url">Url:</label>
                            <input ng-model="url" required type="text" class="form-control" id="url"
                                placeholder="Enter url" name="url" required>
                            <span ng-show="fbkm.url.$error.required">campo richiesto</span>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label" for="s1">
                                <input ng-model="shared" required type="radio" class="form-check-input" id="s1" checked
                                    name="shared" value="true">condiviso
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label" for="s2">
                                <input ng-model="shared" required type="radio" class="form-check-input" id="s2" checked
                                    name="shared" value="false">non condiviso
                            </label>
                        </div>
                        <input type=" button" ng-disabled="fbkm.url.$dirty && fbkm.url.$invalid ||  
                         fbkm.description.$dirty && fbkm.description.$invalid" ng-click="creaBkm()"
                            class="btn btn-primary" value="Send Bookmark">
                    </form>

                    <span>{{msginsbkm }}</span>
                </div>
                <div id="divinstag" ng-show="viewshow">
                    <h3>Inserimento Tag</h3>
                </div>

            </div>
        </div>
    </div>

</body>

</html>

<script>
    var app = angular.module('myApp', []);
    app.controller('loginCtrl',
        function ($scope, $http) {
            $scope.usr = '';
            $scope.pwd = '';
            $scope.msginsbkm="inserisci i dati (tutti obbligatori)";
            $scope.logged = false;
            $scope.viewshow=false;
            //METODO LOGIN
            $scope.login = function () {
                let req = {
                    url: "https://bkmapp.tssdev.it/resources/users/login",
                    method: "POST",
                    data: { usr: $scope.usr, pwd: $scope.pwd },
                    headers: {
                        "Accept": 'application/json',
                        "Content-type": 'application/json'
                    }

                }
                $http(req).then(
                    function (response) {   // caso successo
                        jsobj = response.data;
                        sessionStorage.setItem("myjwt", jsobj.jwt);
                        let decoded = jwt_decode(jsobj.jwt);
                        sessionStorage.setItem("myid", decoded.sub);
                        sessionStorage.setItem("myusr", decoded.upn);
                        $scope.loggedusr = sessionStorage.getItem("myusr");
                        $scope.logged = true;
                        $scope.getMyBkms();


                    },
                    function (response) { // caso errore login
                        sessionStorage.clear();
                        $scope.loggedusr = "nessuno";
                        $scope.logged = false;

                    });

            };// fine metodo login ctrl
            //METODO CREA BKM
            $scope.creaBkm = function () {
                let sh=false;
                let idok=sessionStorage.getItem("myid");
                idok=idok*1;
                if($scope.shared=="true") sh=true;
                let req = {
                    url:"https://bkmapp.tssdev.it/resources/users/" + sessionStorage.getItem("myid") + "/bkms",

                    method: "POST",
                    data: { description: $scope.description, url:$scope.url, shared:sh, owner:{id: idok}},
                    headers: {
                        
                        "Authorization":"Bearer " + sessionStorage.getItem("myjwt"),
                        "Accept": 'application/json',
                        "Content-type": 'application/json'
                    }

                }
                $http(req).then(
                    function (response) {   // caso successo
                        $scope.msginsbkm="Bookmark creato correttamente"
                        $scope.getMyBkms();


                    },
                    function (response) { // caso errore login
                        $scope.msginsbkm="Errore di inserimento Bookmark"

                    });

            };// fine metodo login ctrl
            //METODO OTTIENI BKM
            $scope.getMyBkms = function () {
                let myurl = "https://bkmapp.tssdev.it/resources/users/" +
                    sessionStorage.getItem("myid") + "/bkms"
                let req = {
                    url: myurl,
                    method: "GET",
                    headers: {
                        "Authorization": "Bearer " + sessionStorage.getItem("myjwt"),
                        "Accept": 'application/json',
                        "Content-type": 'application/json'
                    }

                }
                $http(req).then(
                    function (response) {   // caso successo
                        $scope.bkms = response.data.data;



                    },
                    function (response) { // caso errore 
                        /*
                        sessionStorage.clear();
                        $scope.loggedusr = "nessuno";
                        $scope.logged = false;
                        */
                    });

            };// fine metodo getMybkms
            $scope.viewBkms = function (link) {
                let myurl = "https://bkmapp.tssdev.it/resources" + link
                let req = {
                    url: myurl,
                    method: "GET",
                    headers: {
                        "Authorization": "Bearer " + sessionStorage.getItem("myjwt"),
                        "Accept": 'application/json',
                        "Content-type": 'application/json'
                    }

                }
                $http(req).then(
                    function (response) {   // caso successo
                        let json = response.data.data;
                        $scope.viewdescription=json.description;
                        $scope.viewshared=json.shared;
                        $scope.viewauthor=json.owner.email +"[id:" + json.owner.id + "]";
                        $scope.viewurl=json.url;
                        $scope.viewcreated=json.created.substr(0,10);




                    },
                    function (response) { // caso errore login
                        $scope.viewdescription="";
                        $scope.viewshared="";
                        $scope.viewauthor="";
                        $scope.viewurl="";
                        $scope.viewcreated="";
                        $scope.vieshow=false;
                    });

            };
        } //fine function controller
    );   // fine costruttore controller


</script>