/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 8 lug 2022, 00:43:45
    Author     : pc
*/

body{
    background-image: url("../immagini/mare.jpg");
        height: 300px;
        width: 400px;
}

.table-bordered{
    border: 2px solid black;
}

h4{
    color: red;
}

#logtxt{
    font-size: 20px;
    font-family: Arial;
    color: blue;
    text-decoration: underline;
}

h4 span{
    color: green;
}